build/
build_msvc/
*.user
*.suo
*.pro.user
Makefile
*.o
*.obj
*.exe
*.dll
*.lib
*.exp
*.pdb
*.ilk
*.manifest
.qmake.stash
*.qbs.user
*.qbs
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
*.vcxproj.user
*.filters
